.text-center {
  margin-bottom: 15px;
}

.fork-me-on-gh {
  position: absolute;
  top: 0;
  right: 0;
}

.outputcode {
  border: 1px solid #999999;
  width: 100%;
  margin: 5px 0;
  padding: 3px;
  resize: none;
  box-sizing: border-box;
}
