.text-center {
    margin-bottom: 15px;
}
.outputcode {
	border:1px solid #999999;
	width:100%;
	margin:5px 0;
	padding:3px;
	resize: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
